<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		<div class="container-fluid">
			<div class="landing">
				<div class="category">
					<h1>Community Announcements</h1>
					<% subforums.forEach(function(subforums){ %>
					<%if (subforums.category == 1) {%>
					<div class="landingItem">
						<div class="row">
							<div class="col-xs-1">
								<img class="subIcon" src="http://lorempixel.com/image_output/cats-q-c-100-100-7.jpg">
							</div>
							<div class="col-xs-8"><h3><a href="/forums/<%= subforums.id%>"><%= subforums.sub_name; %></a></h3><p><%= subforums.sub_desc %></p>
							</div>
							<div class="col-xs-3"></div>
						</div>
					</div>
					<% }}); %>
				</div>
				<div class="category">
					<h1>General</h1>
					<% subforums.forEach(function(subforums){ %>
					<%if (subforums.category == 2) {%>
					<div class="landingItem">
						<div class="row">
							<div class="col-xs-1">
								<img class="subIcon" src="http://lorempixel.com/image_output/cats-q-c-100-100-7.jpg">
							</div>
							<div class="col-xs-8"><h3><a href="/forums/<%= subforums.id%>"><%= subforums.sub_name; %></a></h3><p><%= subforums.sub_desc %></p>
							</div>
							<div class="col-xs-3"></div>
						</div>
					</div>
					<% }}); %>
				</div>
				<div class="category">
					<h1>Gaming</h1>
					<% subforums.forEach(function(subforums){ %>
					<%if (subforums.category == 3) {%>
					<div class="landingItem">
						<div class="row">
							<div class="col-xs-1">
								<img class="subIcon" src="http://lorempixel.com/image_output/cats-q-c-100-100-7.jpg">
							</div>
							<div class="col-xs-8"><h3><a href="/forums/<%= subforums.id%>"><%= subforums.sub_name; %></a></h3><p><%= subforums.sub_desc %></p>
							</div>
							<div class="col-xs-3"></div>
						</div>
					</div>
					<% }}); %>
				</div>
				<div class="category">
					<h1>Administrative</h1>
					<% subforums.forEach(function(subforums){ %>
					<%if (subforums.category == 4) {%>
					<div class="landingItem">
						<div class="row">
							<div class="col-xs-1">
								<img class="subIcon" src="http://lorempixel.com/image_output/cats-q-c-100-100-7.jpg">
							</div>
							<div class="col-xs-8"><h3><a href="/forums/<%= subforums.id%>"><%= subforums.sub_name; %></a></h3><p><%= subforums.sub_desc %></p>
							</div>
							<div class="col-xs-3"></div>
						</div>
					</div>
					<% }}); %>
				</div>
			</div>
		</div>
	</body>
</html>
