<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>  
	</head>
	<body>
		<% include ../partials/header %>
		<div class="container-fluid">
			<div class="landing">
				<div class="navbar navbar-default">
					<div>
						<h2 class="navbar-header"> Welcome </h2>
					</div>
					<div class="nav navbar-nav navbar-right">
						<a href="./<%= sub_id%>/new"><button class="newPost"> New Post </button></a>
					</div>
				</div>
				<% console.log(sub_id) %>
				<% threads.forEach(function(threads){ %> 
					<% if (threads.sub_id == sub_id) { %>
						<div class="landingItem">
							<p><a href="./<%= sub_id%>/<%= threads.id%>"><%= threads.thread_name; %></a></p>
							<h5><%= (threads.thread_desc || "No Description Available") %></h5>
						</div>
				<% }}); %>
			</div>
		</div>
	</body>
</html>