<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>  
	</head>
	<body>
		<% include ../partials/header %>
		<div class="container-fluid">
			<div class="landing">
				<div class="navbar navbar-default">
					<div>
						<h2 class="navbar-header"><%= name%></h2>
					</div>
					<div class="nav navbar-nav navbar-right">
						<a href="./<%= name%>/new"><button class="newPost"> New Post </button></a>
					</div>
				</div>
				<% console.log(name) %>
				<% threads.forEach(function(threads){ %> 
					<% if ("/" + threads.sub_id == sub_id) { %>
						<div class="landingItem">
							<p><a href="./<%= name%>/<%= threads.id%>"><%= threads.thread_name; %></a></p>
						</div>
				<% }}); %>
			</div>
		</div>
	</body>
</html>