<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		<div class="container-fluid">
			<div class="landing">
				
				<% posts.forEach(function(posts){ %> 
					<% if (posts.thread_id == name) { %>
						<div class="postItem">
								<div class="postUser">
									<img src=<%= (posts.pic || "https://www.petfinder.com/wp-content/uploads/2012/11/140272627-grooming-needs-senior-cat-632x475.jpg") %> class="profilePicture"> <br>
									<%= posts.username || "unknown user" %>
								</div>
								<div class="postContents">
									<div class="a">
										<p> <%= (posts.post_time  || "No time found") %> </p>
									</div>
									<div class="b">
										<p>
											<%= posts.post_html; %>
										</p>
									</div>
							</div>
						</div>
				<% }}); %>


				<!-- REPLY HERE -->
				<div class="replyContainer">
					<form method="POST" action="<%= name %>/new">
						<label>
							<h6>New Reply:</h6>
						</label>
						<textarea type="type" name="reply" class="replyWindow" required rows="4"></textarea>
						<br>
						<input type="submit" class="submit"value="Post New Reply">
					</form>
				</div>
			</div>
		</div>
	</body>
</html>